<script src="/scripts/interact.js"></script>
{{!-- <h1>The murder room is {{MurderInfo.room}}</h1>
<h1>The murder pie is {{MurderInfo.pie}}</h1>
<h1>The murderer is {{MurderInfo.spy}}</h1> --}}
{{!-- {{#each murderInfo}}
<h2>pie number is {{this.pie}} and the id is {{this._id}}</h2>
{{/each}}
<a href="/new-data">New Data</a> --}}
<section id="pre-post-overlay" class="pre-play-overlay">
  <button class="play-button" id="fs-doc-button">PLAY</button>
</section>
<section id="spy-picker" class="spy-picker">
  <ul>
    {{#each Spies.spyDeck_full}}
    <li><img src="{{this.icon}}" alt="{{this.name}}"></li>
    {{/each}}
    <li class="spy-picker-tab" id="spy-picker-tab"><div id="spy-picker-circle" class="spy-picker-circle">S</div></li>
  </ul>
</section>
<section id="pie-picker" class="pie-picker">
  <ul>
    {{#each Pies.pieDeck_full}}
    <li><img src="{{this.icon}}" alt="{{this.name}}"></li>
    {{/each}}
    <li class="pie-picker-tab" id="pie-picker-tab"><div id="pie-picker-circle" class="pie-picker-circle">P</div></li>
  </ul>
</section>
<section class="play-field" id="play-field">
  <div class="play-field-internal draggable" id="play-field-internal">
    {{#each Rooms.roomDeck_full}}

    <div class="room {{@key}}" id="{{@key}}" style="background-image:url({{this.img}});">
    <a name="{{@key}}"></a>
    </div>
    {{/each}}  
  </div>
</section>
<section id="notepad" class="notepad">
  <div class="notepad-scroller">
    <table id="notepad-table" class="notepad-table">
      <tr>
        <td></td>
        {{#each Spies.spyDeck_full}}
        <td><img src="{{this.icon}}" alt="{{this.name}}"></td>
        {{/each}}
      </tr>
      <tr>
        <td class="notepad-label" colspan="{{Spies.spyColSpan}}">
          Spies
        </td>
      </tr>
      {{#each Spies.spyDeck_full}}
        <tr>
          <td>{{this.name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
      <tr>
        <td class="notepad-label" colspan="{{Spies.spyColSpan}}">
          Pies
        </td>
      </tr>
      {{#each Pies.pieDeck_full}}
        <tr>
          <td>{{this.name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
      <tr>
        <td class="notepad-label" colspan="{{Spies.spyColSpan}}">
          Rooms
        </td>
      </tr>
      {{#each Rooms.roomDeck_full}}
        <tr>
          <td>{{this.name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div id="notepad-tab">
    <div class="arrow"></div>
  </div>
</section>
<section id="cards" class="cards">
  <img src="{{murderPie.card}}" alt="{{murderPie.name}}">
  <img src="{{murderSpy.card}}" alt="{{murderSpy.name}}">
  <img src="{{murderRoom.card}}" alt="{{murderRoom.name}}">
</section>

<section id="chat">
  <div id="chat-window">
    <div id="chat-output"></div>
    <div id="chat-feedback"></div>
    <input type="text" id="chat-handle" placeholder="handle"/>
    <input type="text" id="chat-message" placeholder="message"/>
    <button id="chat-send">Send</button>
  </div>
</section>
{{!-- <section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section> --}}
<div id="mute"><img src="images/mute-no.svg" alt="mute"></div>

<audio id="background-music" loop>
  <source src="audio/Professor_Umlaut.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{{!-- <script src="/scripts/scripts.js"></script> --}}
<script src="/scripts/game.js"></script>