<script src="/scripts/interact.js"></script>
{{!-- <h1>The murder room is {{Rooms.murderRoom}}</h1>
<h1>The murder pie is {{Pies.murderPie}}</h1>
<h1>The murderer is {{Spies.murderSpy}}</h1> --}}
{{#each murderInfo}}
<h2>pie number is {{this.pie}} and the id is {{this._id}}</h2>
{{/each}}
<a href="/new-data">New Data</a>
<section id="pre-post-overlay" class="pre-play-overlay">
  <button class="play-button" id="fs-doc-button">PLAY</button>
</section>
<section class="play-field" id="play-field">
  <div class="play-field-internal draggable" id="play-field-internal">
    {{#each Rooms.roomDeck_full}}
    <div class="room {{@key}}" style="background-image:url({{this.img}});">
      
    </div>
    {{/each}}  
  </div>
</section>
<section id="chat">
  <div id="chat-window">
    <div id="chat-output"></div>
    <div id="chat-feedback"></div>
    <input type="text" id="chat-handle" placeholder="handle"/>
    <input type="text" id="chat-message" placeholder="message"/>
    <button id="chat-send">Send</button>
  </div>
</section>
{{!-- <section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section> --}}
<audio id="background-music" loop>
  <source src="audio/Professor_Umlaut.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{{!-- <script src="/scripts/scripts.js"></script> --}}
<script src="/scripts/game.js"></script>